name: Unit test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  unit_test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python: [3.6, 3.8]

    steps:
      - uses: actions/checkout@v1
      - name: add symlink dir to PATH
        run: echo "::add-path::$HOME/.local/bin"
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install coverage

      - name: Test jill download and install
        run: |
          make test

      - name: Test jill update
        run: |
          coverage run -a -m jill update

      - name: Test jill mirror
        run: |
          coverage run -a -m jill mirror --config test_mirror.json
          find . -type f -size +20M -name "julia-*"
          [[ `find . -type f -size +20M -name "julia-*" | wc -l` == 2 ]]

      - name: generate covrage report
        run: |
          coverage report
          coverage xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
